Host sl
	HostName staceserve.dyndns.org
	User astacy

Host ut1
	HostName cornuthaum.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ut2
	HostName stick.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ut3
	HostName hachi.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ashly
	HostName mrs-stacys-macbook.local
	User "Ashly Stacy"
	ForwardX11 yes

Host msee140
	HostName msee140lnx10.ecn.purdue.edu
	User astacy

Host pte
	HostName partytimeexcellent.local
	User astacy

Host lon
	HostName longhorn.tacc.utexas.edu
	User astacy

Host ran
	HostName ranger.tacc.utexas.edu
	User astacy

Host aa
	HostName appapp141
	User root

Host ab
	HostName appapp142
	User root

Host ac
	HostName appapp143
	User root

Host janos
	HostName janos-davincimr3
	User root

Host ad
	HostName vmapp136
	User root

Host devnode05
	User root
