Host sl
	HostName staceserve.dyndns.org
	User astacy

Host ut1
	HostName cornuthaum.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ut2
	HostName stick.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ut3
	HostName hachi.cs.utexas.edu
	User astacy
	#ForwardX11 yes

Host ashly
	HostName mrs-stacys-macbook.local
	User "Ashly Stacy"
	ForwardX11 yes

Host msee140
	HostName msee140lnx10.ecn.purdue.edu
	User astacy

Host pte
	HostName staceserve.dyndns.org
	User astacy

Host lon
	HostName longhorn.tacc.utexas.edu
	User astacy

Host ran
	HostName ranger.tacc.utexas.edu
	User astacy

Host aa
	HostName appapp141.storediq.com
	User root

Host ab
	HostName appapp142.storediq.com
	User root

Host ac
	HostName appapp143.storediq.com
	User root

Host ad
	HostName vmapp136.storediq.com
	User root

Host ae
	HostName appapp222.storediq.com
	User root

Host af
	HostName appapp227.storediq.com
	User root

Host appapp137
    HostName appapp137.storediq.com
    User root

Host devnode05
	User root

Host merge
	HostName mergeslave1.storediq.com
	User root

Host a
 	HostName appapp140.storediq.com
 	User root

Host dd
    HostName delldemo.storediq.com
    User root

Host aws
    HostName ec2-72-44-33-192.compute-1.amazonaws.com 
    User root
